<%= simple_form_for @event, :remote => true, :html => { :class => 'form-horizontal' } do |f| %>
<center><%= f.input :name %></center>
<center><%= f.input :datejs %> </center>

		<center><div  id="alert" style="color:white"></div></center> 
		

<center><div class="form-actions">
		    <%= f.button :submit, :class => 'btn btn-large' %>
		    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
		                events_path, :class => 'btn' %>
		  </div></center>
		<% end %>