<table>
	<tr>
		<td><h2>Sign in</h2>

		<%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
		  <div class="form-inputs">
		    <%= f.input :email, :required => false, :autofocus => true %>
		    <%= f.input :password, :required => false %>
		    <%= f.input :remember_me, :as => :boolean if devise_mapping.rememberable? %>
		  </div>

		  <div class="form-actions">
		    <%= f.button :submit, "Sign in" %>
		  </div>
		<% end %>

		<%= render "devise/shared/links" %></td>
<td><span>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</span></td>
		<td><div id="firstword"><h2>Time the most expensive resource.</br>
									  Here you can see how it flows away.</br>
									  And get a message to mail just before the end.</h2></div></td>
	</tr>
</table>
